{% liquid
  assign cpb_items = cart.items | where: 'vendor', 'クレ・ド・ポー ボーテ'
  assign cpb_items_size = cpb_items | size
%}

{% if cpb_items_size > 0 %}
  {% if customer %}
    <div class="cpb-connect-notification cpb-connect-status tw-hidden">
      <p class="cpb-connect-notification__title">
        クレ・ド・ポー ボーテ<br>
        メンバーシッププログラム会員との<br>
        ID連携は完了しています。
      </p>
    </div>
    <div class="cpb-connect-notification cpb-connect-status-not-connected tw-hidden">
      <p class="cpb-connect-notification__title">
        クレ・ド・ポー ボーテ<br>
        メンバーシッププログラム会員との<br>
        ID連携は行われておりません。
      </p>
      <p class="text-center">
        クレ・ド・ポー ボーテの会員ポイントが<br>
        Perfumerie Sukiya Online Storeでの購入で付与されますので、<br class="pc-only">
        ぜひご登録ください。
      </p>
      <a href="/pages/cpb-connect" class="cpb-connect-button">登録する</a>
      <p class="cpb-connect-small">
        ※ Perfumerie Sukiya Online Store会員登録およびクレ・ド・ポー ボーテ
        メンバーシッププログラムのどちらも会員登録が必要となります。
      </p>
      <p class="cpb-connect-small">
        ※ Perfumerie Sukiya Online Storeにログインが必要です。未ログインの場合には、ログイン後にクレ・ド・ポー
        ボーテ ブランドトップ（<a
          href="https://online.sukiya.biz/collections/cle-de-peau-beaute"
          >https://online.sukiya.biz/collections/cle-de-peau-beaute</a
        >）から「クレ・ド・ポー ボーテ 会員連携」ボタンをクリックしてください。
      </p>
    </div>
  {% else %}
    <div class="cpb-connect-notification">
      <p class="cpb-connect-notification__title">
        クレ・ド・ポー ボーテ<br>
        Beauty keyポイントの付与には<br>
        ログインが必要です。
      </p>
      <p class="text-center">
        クレ・ド・ポー ボーテの会員ポイントを<br>
        Perfumerie Sukiya Online Storeでの購入で付与するには、<br class="pc-only">
        ログインしてID連携を行ってください。
      </p>
      <a href="{{ routes.account_login_url }}?checkout_url=/cart" class="cpb-connect-button">ログインする</a>
      <p class="cpb-connect-small">
        ※ Perfumerie Sukiya Online Store会員登録およびクレ・ド・ポー ボーテ
        メンバーシッププログラムのどちらも会員登録が必要となります。
      </p>
    </div>
  {% endif %}
{% endif %}
