{% liquid
  assign bsi_items = cart.items | where: 'vendor', 'SHISEIDO'
  assign bsi_items_size = bsi_items | size
%}

{% if bsi_items_size > 0 %}
  {% if customer %}
    <div class="cpb-connect-notification bsi-connect-status tw-hidden">
      <p class="cpb-connect-notification__title">
        SHISEIDO<br>
        メンバーシッププログラム会員との<br>
        ID連携は完了しています。
      </p>
    </div>
    <div class="cpb-connect-notification bsi-connect-status-not-connected tw-hidden">
      <p class="cpb-connect-notification__title">
        SHISEIDO<br>
        メンバーシッププログラム会員との<br>
        ID連携は行われておりません。
      </p>
      <p class="text-center">
        SHISEIDOの会員ポイントが<br>
        Perfumerie Sukiya Online Storeでの購入で付与されますので、<br class="pc-only">
        ぜひご登録ください。
      </p>
      <a href="/pages/shiseido-connect" class="cpb-connect-button">登録する</a>
      <p class="cpb-connect-small">
        ※ Perfumerie Sukiya Online Store会員登録およびSHISEIDO
        メンバーシッププログラムのどちらも会員登録が必要となります。
      </p>
      <p class="cpb-connect-small">
        ※ Perfumerie Sukiya Online Storeにログインが必要です。未ログインの場合には、ログイン後にSHISEIDO
        ブランドトップ（<a
          href="https://online.sukiya.biz/collections/shiseido"
          >https://online.sukiya.biz/collections/shiseido</a
        >）から「SHISEIDO 会員連携」ボタンをクリックしてください。
      </p>
    </div>
  {% else %}
    <div class="cpb-connect-notification">
      <p class="cpb-connect-notification__title">
        SHISEIDO<br>
        Beauty keyポイントの付与には<br>
        ログインが必要です。
      </p>
      <p class="text-center">
        SHISEIDOの会員ポイントを<br>
        Perfumerie Sukiya Online Storeでの購入で付与するには、<br class="pc-only">
        ログインしてID連携を行ってください。
      </p>
      <a href="{{ routes.account_login_url }}?checkout_url=/cart" class="cpb-connect-button">ログインする</a>
      <p class="cpb-connect-small">
        ※ Perfumerie Sukiya Online Store会員登録およびSHISEIDO
        メンバーシッププログラムのどちらも会員登録が必要となります。
      </p>
    </div>
  {% endif %}
{% endif %}
