{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .cpb-header a {
    color: #000;
  }
  .cpb-header a:hover {
    color: #000;
  }
  .ignis-io-header__logo-link {
    display: inline-block;
    max-width: 300px;
  }
  .ignis-io-header__logo {
    display: block;
    width: 100%;
    height: auto;
  }
  @media screen and (max-width: 749px) {
    .collection-hero--with-image .collection-hero__inner {
      padding-bottom: calc({{ settings.media_shadow_vertical_offset | at_least: 0 }}px + 2rem);
    }
    .ignis-io-header__logo-link {
      max-width: 220px;
    }
  }
{%- endstyle -%}

<!-- IGNIS iOヘッダーここから -->
<div class="cpb-header">
  <h1 class="brand-logo tw-mt-4 md:tw-max-w-[900px] md:tw-mx-auto tw-text-center">
    <a href="{{ routes.collections_url }}/ignis-io" class="ignis-io-header__logo-link tw-no-underline" aria-label="IGNIS iO">
      <img
        class="ignis-io-header__logo"
        src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/ignis-io.svg?v=1700812326"
        alt="IGNIS iO"
        width="300"
        height="90"
        loading="eager"
      >
    </a>
  </h1>
</div>
<!-- IGNIS iOヘッダーここまで -->

{% schema %}
{
  "name": "コレクションバナーIGNIS iO",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
      "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    }
  ]
}
{% endschema %}
