{%- comment -%}
  Brand-specific CSS files served from external CDN for DECORTE story page
{%- endcomment -%}
{{ 'ourstory.css' | asset_url | stylesheet_tag }}
{{ 'slick.css' | asset_url | stylesheet_tag }}
<main class="tw-my-6">
  {{ page.content }}
</main>
