.image-text-link-grid .title {
  margin: 0;
}

.image-text-link-grid.no-heading .title {
  display: none;
}

.image-text-link-grid .title-wrapper-with-link {
  margin-top: 0;
}

@media screen and (max-width: 749px) {
  .image-text-link-grid .title-wrapper-with-link {
    margin-bottom: 3rem;
  }

  .image-text-link-grid .page-width {
    padding-left: 0;
    padding-right: 0;
  }
}

.image-text-link-grid__list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.image-text-link-grid__item--empty {
  display: none;
}

.image-text-link-grid__card {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.image-text-link-grid__image-wrapper {
  width: 100%;
  margin-bottom: 1.5rem;
}

.image-text-link-grid__image-link {
  display: block;
  text-decoration: none;
}

.image-text-link-grid__image {
  width: 100%;
  height: auto;
  display: block;
}

.image-text-link-grid__text {
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.5;
}

.image-text-link-grid__text-link {
  color: rgb(var(--color-foreground));
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  transition: opacity 0.2s ease;
}

.image-text-link-grid__text-link:hover {
  opacity: 0.7;
}

.image-text-link-grid__item.center {
  text-align: center;
}

.image-text-link-grid__item.center .image-text-link-grid__image-wrapper {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 749px) {
  .image-text-link-grid__list {
    margin: 0;
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media screen and (min-width: 750px) {
  .image-text-link-grid__item {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 990px) {
  .image-text-link-grid__item--empty {
    display: list-item;
  }
}
